/* google fonts: Pacifico & Roboto */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.nav-ul {
  display: flex;
  gap: 1rem;
}

.nav-ul a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
}

.nav-ul a:hover,
.nav-ul a.active {
  background-color: #B87965;
  color: #fff;
}